/* body*/
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
background-color:#5b90c2 ;
}





/* nav*/

	
	

nav a{
 color: rgb(255, 255, 255);
 font-size: 20px;
 font-family:'Fuzzy Bubbles', cursive ;
}
nav a:hover{
	color: #F588C9;
}
	
.life{
	font-size: 35px;
	color: #F588C9;
}

  

/* main*/
a:hover{ color: pink;}
  a {
	color: black;
  }
  main h1 strong {
	color: #ffffff;
	font-size: 19px;
	font-family: 'Fuzzy Bubbles', cursive;
  }
  main h1 {
	font-size: 15px;
	float: left;
	width: 80%;
	
  }
  main img {
	width: 50%;
	float: left;
	height: 400px;
  }
  main div {
	width: 620px;
	height: 380px;
	float: left;
	background-color: #9bb7d6;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  main {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  }
  .espaco {
	margin-top: 60px;
  }
  .space {
	margin-top: 100px;
  }
  
  main img:nth-child(3) {
	height: 316px;
  }
  .outra {
	margin-top: 55px;
  }
  .texto3 {
	margin-top: 55px;
  }
  .img3 {
	margin-top: 50px;
	height: 250px;
  }
  .texto4 {
	margin-top: 55px;
	height: 270px;
  }
  .texto5 {
	margin-top: 55px;
	height: 270px;
  }
  .img4 {
	margin-top: 55px;
	height: 300px;
  }
  .texto6 {
	margin-top: 55px;
	height: 270px;
  }
  .img5 {
	margin-top: 55px;
	height: 260px;
  }
  .texto1 {
	margin-top: 55px;
  }
  .img1 {
	margin-top: 55px;
  }




/* footer*/
.footer {
    display: block;
    margin-top: 5%;
	left: 0;
	bottom: 0;
	width: 100%;
  }
 
  
